<template name = "report">
	<h1>Report Minor Issue</h1>
	<p>This form can be used to report issues that may affect the quality of patient care and the maintenance of the hospital. By identifying normally unreported issues, this system hopes to reduce risk and save money.</p>
	<p>Please only write one incident per report.</p>
	{{> grumble}}
</template>

<template name="report2">
	<h1>Report Minor Issue</h1>
	<p>This form can be used to report issues that may affect the quality of patient care and the maintenance of the hospital. By identifying normally unreported issues, this system hopes to reduce risk and save money.</p>
	<p>Please only write one incident per report.</p>
	{{> grumble2}}
</template>